/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_normalize
 */
/*
	Github: https://github.com/FerroAndres/breve
	- Import mixins:
	@import "breve";

	- Use of mixins:
	1. border-radius:
		Identical borders:	@include border-radius(5px);
		Different borders:	@include border-radius(5px, 10px, 15px, 20px);
	2. box-shadow:
		Simply shadows:		@include box-shadow(3px 3px 1px 0 black);
		Double shadow;		@include box-shadow(3px 3px 1px 0 rgba(black, .5), inset 3px 3px 1px black);
	3. text-shadow:
		Simply shadows:		@include text-shadow(1px, 1px, 0, black, .6);
		Double shadow;		@include text-shadow(1px, 1px, 0, black, .6, 2px 2px 0 gray);
	4. box-sizing:
		Usage:				@include box-sizing(content-box);
	5. transition:
		Usage:				@include transition(color, 1s, linear);
	6. transform:
		Usage:				@include transform(scale(1.3) rotate(10deg) translateX(10px) translateY(15px) skewX(5deg) skewY(3deg));
	7. font-face:
		Usage:				@include font-face("fontName", "../fontsUrl/theFont");
	8. gradient:
		Options: 			horizontal | vertical | diagonalTopLeft | diagonalBottomLeft | radial
		Usage:				@include gradient(radial, black, blue);
*/
@font-face {
  font-family: 'PT_Sans';
  src: url("/assets/PT_Sans/pt_sans-web-regular-webfont.eot");
  src: url("/assets/PT_Sans/pt_sans-web-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/PT_Sans/pt_sans-web-regular-webfont.woff") format("woff"), url("/assets/PT_Sans/pt_sans-web-regular-webfont.ttf") format("truetype"), url("/assets/PT_Sans/pt_sans-web-regular-webfont.svg#PT_Sans") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 29, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
html {
  padding: 0;
  margin: 0;
}

/* line 34, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
body {
  margin: 0;
  padding: 0;
  /*border: 2px solid red;*/
  background-color: white;
}

/* line 42, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_index {
  background-image: url("/assets/fondo_app.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
}
/* line 52, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_index .fondo_colorido {
  background-color: rgba(0, 20, 0, 0.7);
  background-attachment: fixed;
  height: 100%;
  min-height: 100%;
}
/* line 59, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_index img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin-top: 10px;
  border: 4px solid gold;
}
/* line 68, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_index table {
  margin: 0 auto;
}
/* line 70, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_index table tr {
  /*height: 40px;*/
}
/* line 72, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_index table tr td {
  color: white;
  text-align: right;
  font-family: 'PT_Sans';
}
/* line 76, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_index table tr td #olvidaste_contrasena {
  font: normal 10px arial;
  color: rgba(255, 255, 255, 0.5);
}
/* line 80, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_index table tr td #entrar_btn {
  float: right;
}
/* line 86, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_index table tr#logo_bapp {
  height: 70px;
}
/* line 88, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_index table tr#logo_bapp td {
  text-align: center;
}
/* line 90, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_index table tr#logo_bapp td h1 {
  color: white;
  font: normal 30px 'PT_Sans';
  display: inline-block;
}
/* line 95, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_index table tr#logo_bapp td h2 {
  color: gold;
  font: normal 30px 'PT_Sans';
  display: inline-block;
}
/* line 104, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_index table tr#incorrecto td {
  text-align: center;
  color: rgba(255, 100, 100, 0.8);
}
/* line 110, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_index table tr#col_botones {
  height: 60px;
}
/* line 112, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_index table tr#col_botones td {
  text-align: center;
}
/* line 114, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_index table tr#col_botones td a#entrar_facebook {
  margin: 0 auto;
  background-color: #47b;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  color: white;
}
/* line 122, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_index table tr#col_botones td a#entrar_facebook:hover {
  background-color: #49b;
}
/* line 125, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_index table tr#col_botones td a#entrar_google {
  background-color: #7be;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  color: white;
}
/* line 132, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_index table tr#col_botones td a#entrar_google:hover {
  background-color: #57cdf1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #57cdf1), color-stop(100%, #57cdf1));
  background: -webkit-linear-gradient(top, #57cdf1 0%, #57cdf1 100%);
  background: -moz-linear-gradient(top, #57cdf1 0%, #57cdf1 100%);
  background: -ms-linear-gradient(top, #57cdf1 0%, #57cdf1 100%);
  background: -o-linear-gradient(top, #57cdf1 0%, #57cdf1 100%);
  background: linear-gradient(top, #57cdf1 0%, #57cdf1 100%);
  background: linear-gradient(to bottom, #57cdf1 0%, #57cdf1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57cdf1', endColorstr='#57cdf1', GradientType=0);
}
/* line 137, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_index table tr#col_registro {
  height: 70px;
}
/* line 139, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_index table tr#col_registro td {
  text-align: center;
}
/* line 141, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_index table tr#col_registro td a#registro {
  font: bold 15px 'PT_Sans';
  text-decoration: none;
  color: lime;
}
/* line 151, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_index #pie_pagina {
  font: normal 10px 'PT_Sans';
  color: #a0a0a0;
}

/*PAGINA DE REGISTRO*/
/* line 159, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_registro {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  background-image: url("/assets/tree.png");
  background-attachment: fixed;
  display: block;
}
/* line 168, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_registro table {
  position: relative;
  width: 100%;
  min-height: 500px;
}
/* line 173, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_registro table tr td {
  font: 15px normal 'PT_Sans';
  text-align: center;
  color: white;
}
/* line 177, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_registro table tr td input {
  font: 15px normal 'PT_Sans';
  width: 80%;
  height: 100%;
}
/* line 182, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_registro table tr td input::-webkit-input-placeholder {
  font: 15px normal 'PT_Sans';
}
/* line 187, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_registro table tr#titulo {
  height: 120px;
}
/* line 189, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_registro table tr#titulo td {
  font: normal 40px 'PT_Sans';
  color: black;
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -ms-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -o-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  filter: dropshadow(color=black, offx=1px, offy=1px);
}
/* line 195, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_registro table tr#boton_reg {
  height: 100px;
}
/* line 198, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_registro table tr#boton_reg td a#entrar_btn {
  background-color: #33CC33;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #33cc33), color-stop(100%, #33cc33));
  background: -webkit-linear-gradient(top, #33cc33 0%, #33cc33 100%);
  background: -moz-linear-gradient(top, #33cc33 0%, #33cc33 100%);
  background: -ms-linear-gradient(top, #33cc33 0%, #33cc33 100%);
  background: -o-linear-gradient(top, #33cc33 0%, #33cc33 100%);
  background: linear-gradient(top, #33cc33 0%, #33cc33 100%);
  background: linear-gradient(to bottom, #33cc33 0%, #33cc33 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33CC33', endColorstr='#33CC33', GradientType=0);
  padding: 14px 20px 10px 20px;
  border-radius: 5px;
  border-bottom: 2px solid #29A329;
  text-decoration: none;
  color: white;
  text-align: center;
  font: 20px normal 'PT_Sans';
}
/* line 208, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_registro table tr#boton_reg td a#entrar_btn:hover {
  background-color: #5CD65C;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5cd65c), color-stop(100%, #5cd65c));
  background: -webkit-linear-gradient(top, #5cd65c 0%, #5cd65c 100%);
  background: -moz-linear-gradient(top, #5cd65c 0%, #5cd65c 100%);
  background: -ms-linear-gradient(top, #5cd65c 0%, #5cd65c 100%);
  background: -o-linear-gradient(top, #5cd65c 0%, #5cd65c 100%);
  background: linear-gradient(top, #5cd65c 0%, #5cd65c 100%);
  background: linear-gradient(to bottom, #5cd65c 0%, #5cd65c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5CD65C', endColorstr='#5CD65C', GradientType=0);
}
/* line 214, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_registro table tr#boton_canc a#cancel {
  text-decoration: none;
  font: 15px normal 'PT_Sans';
  color: gray;
}
/* line 219, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_registro table tr#boton_canc a#cancel:hover {
  color: red;
}
/* line 224, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_registro .onoffswitch {
  margin: 0 auto;
  position: relative;
  width: 189px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
/* line 229, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_registro .onoffswitch-checkbox {
  display: none;
}
/* line 232, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_registro .onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #E3E3E3;
  border-radius: 5px;
}
/* line 236, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_registro .onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
/* line 241, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_registro .onoffswitch-inner:before, .fold_registro .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 34px;
  padding: 0;
  line-height: 34px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 246, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_registro .onoffswitch-inner:before {
  content: "Hombre";
  padding-left: 0px;
  background-color: #34A7C1;
  color: #FFFFFF;
}
/* line 251, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_registro .onoffswitch-inner:after {
  content: "Mujer";
  padding-right: 68px;
  background-color: #E185ED;
  text-align: right;
}
/* line 257, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_registro .onoffswitch-switch {
  display: block;
  width: 14px;
  margin: 0px;
  background: #FFFFFF;
  border: 1px solid #999999;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 171px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  background-image: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
  background-image: -webkit-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
  background-image: -o-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
  background-image: linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
}
/* line 269, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_registro .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
/* line 272, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_registro .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

/*PAGINA DE INICIO*/
/* line 280, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_dos {
  width: 100%;
  height: 100%;
  background-color: white;
  background-image: url("/assets/tree.png");
  background-attachment: fixed;
  position: absolute;
}
/* line 288, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_dos .encabezado {
  /*@include gradient(vertical, #FFFFFF, #E6E6E6);*/
  background-image: url("/assets/tweed.png");
  height: 50px;
  box-shadow: 2px 2px 5px #999;
}
/* line 293, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_dos .encabezado #img_perfil {
  position: relative;
  float: left;
  height: 80px;
  width: 80px;
  border: 2px solid gold;
  margin: 7px 0px 0px 7px;
  border-radius: 5px;
}
/* line 302, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_dos .encabezado #img_opcs {
  position: relative;
  float: right;
  height: 50px;
  border-left: 1px solid #91bf3b;
}
/* line 308, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_dos .encabezado ul {
  position: relative;
  float: left;
  margin: 0px 0px 0px 7px;
  padding: 0px 1px 1px 1px;
  list-style: none;
}
/* line 314, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_dos .encabezado ul li {
  display: inline-block;
}
/* line 316, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_dos .encabezado ul li #nombre_usuario {
  text-decoration: none;
  font: bold 15px 'PT_Sans';
  color: gold;
}
/* line 323, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_dos .encabezado #level {
  position: absolute;
  background-color: #91bf3b;
  padding: 4px 10px 5px 10px;
  border-radius: 0px 0px 4px 4px;
  top: 50px;
  left: 105px;
  border-left: 1px solid #005000;
  border-right: 1px solid #005000;
  border-bottom: 1px solid #005000;
}
/* line 333, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_dos .encabezado #level h4 {
  margin: 0;
}
/* line 336, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_dos .encabezado #level #nivel {
  text-decoration: none;
  color: #005000;
  font: normal 11px 'PT_Sans';
}
/* line 342, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_dos .encabezado #level:hover {
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
/* line 346, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_dos .encabezado #level:hover #nivel {
  color: white;
}
/* line 351, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_dos .contenido {
  text-align: center;
  position: relative;
}
/* line 355, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_dos .contenido .modal_actor {
  z-index: 1;
  position: fixed;
  background-color: #fff;
  width: 130px;
  height: 100%;
  right: 0px;
  top: 50px;
  text-align: left;
  box-shadow: -1px 4px 10px #999;
}
/* line 366, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_dos .contenido .modal_actor ul {
  background-color: white;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
}
/* line 372, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_dos .contenido .modal_actor ul li {
  border-bottom: 1px solid #999;
  padding: 15px;
}
/* line 375, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_dos .contenido .modal_actor ul li a {
  text-decoration: none;
  font: normal 14px 'PT_Sans';
  margin: 0px 0px 0px 6px;
}
/* line 384, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_dos .contenido table {
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 50px;
  /*padding: 0px 50px 30px 50px;*/
  padding: 0px 5% 30px 5%;
}
/* line 391, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_dos .contenido table tr#scan {
  height: 240px;
}
/* line 395, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_dos .contenido table tr#scan td a img {
  height: 200px;
  opacity: .3;
}
/* line 406, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_dos .contenido table tr#text_scan td a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  font: bold 25px 'PT_Sans';
}
/* line 414, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_dos .contenido table:hover {
  background-color: rgba(128, 128, 128, 0.1);
}
/* line 418, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_dos .contenido table:hover tr#scan td img {
  opacity: 1;
}
/* line 425, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_dos .contenido table:hover tr#text_scan td a {
  color: green;
}

/* line 436, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_regtwitter .contenido {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  display: block;
  background-image: url("/assets/tree.png");
  background-attachment: fixed;
}
/* line 445, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_regtwitter .contenido table {
  width: 100%;
  min-height: 500px;
}
/* line 448, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_regtwitter .contenido table tr {
  height: 30px;
}
/* line 450, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_regtwitter .contenido table tr td {
  font: 15px normal 'PT_Sans';
  text-align: center;
}
/* line 453, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_regtwitter .contenido table tr td a#entrar_btn {
  background-color: #2fc2ef;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2fc2ef), color-stop(100%, #2fc2ef));
  background: -webkit-linear-gradient(top, #2fc2ef 0%, #2fc2ef 100%);
  background: -moz-linear-gradient(top, #2fc2ef 0%, #2fc2ef 100%);
  background: -ms-linear-gradient(top, #2fc2ef 0%, #2fc2ef 100%);
  background: -o-linear-gradient(top, #2fc2ef 0%, #2fc2ef 100%);
  background: linear-gradient(top, #2fc2ef 0%, #2fc2ef 100%);
  background: linear-gradient(to bottom, #2fc2ef 0%, #2fc2ef 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2fc2ef', endColorstr='#2fc2ef', GradientType=0);
  padding: 14px 30px 10px 30px;
  border-radius: 5px;
  border-bottom: 2px solid #25a5c9;
  text-decoration: none;
  color: white;
  text-align: center;
  font: 20px normal 'PT_Sans';
}
/* line 463, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_regtwitter .contenido table tr td input {
  font: 15px normal 'PT_Sans';
  width: 60%;
  height: 90%;
}
/* line 468, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_regtwitter .contenido table tr td input::-webkit-input-placeholder {
  font: 15px normal 'PT_Sans';
}
/* line 471, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_regtwitter .contenido table tr td input#name {
  background-color: #ddd;
  color: white;
}
/* line 475, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_regtwitter .contenido table tr td a#entrar_btn:hover {
  background-color: #57cdf1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #57cdf1), color-stop(100%, #57cdf1));
  background: -webkit-linear-gradient(top, #57cdf1 0%, #57cdf1 100%);
  background: -moz-linear-gradient(top, #57cdf1 0%, #57cdf1 100%);
  background: -ms-linear-gradient(top, #57cdf1 0%, #57cdf1 100%);
  background: -o-linear-gradient(top, #57cdf1 0%, #57cdf1 100%);
  background: linear-gradient(top, #57cdf1 0%, #57cdf1 100%);
  background: linear-gradient(to bottom, #57cdf1 0%, #57cdf1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#57cdf1', endColorstr='#57cdf1', GradientType=0);
}
/* line 478, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_regtwitter .contenido table tr td a#cancel {
  text-decoration: none;
  font: 15px normal 'PT_Sans';
}
/* line 482, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_regtwitter .contenido table tr td a#cancel:hover {
  color: red;
}
/* line 485, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_regtwitter .contenido table tr td h1 {
  font: 30px normal 'PT_Sans';
  -webkit-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -ms-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  -o-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  filter: dropshadow(color=black, offx=1px, offy=1px);
}
/* line 491, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_regtwitter .contenido table tr#titulo {
  height: 70px;
}
/* line 494, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_regtwitter .contenido table tr#boton_reg {
  height: 60px;
}
/* line 500, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_regtwitter .onoffswitch {
  margin: 0 auto;
  position: relative;
  width: 189px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
/* line 505, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_regtwitter .onoffswitch-checkbox {
  display: none;
}
/* line 508, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_regtwitter .onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #E3E3E3;
  border-radius: 5px;
}
/* line 512, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_regtwitter .onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
/* line 517, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_regtwitter .onoffswitch-inner:before, .fold_regtwitter .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 34px;
  padding: 0;
  line-height: 34px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 522, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_regtwitter .onoffswitch-inner:before {
  content: "Hombre";
  padding-left: 0px;
  background-color: #34A7C1;
  color: #FFFFFF;
}
/* line 527, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_regtwitter .onoffswitch-inner:after {
  content: "Mujer";
  padding-right: 68px;
  background-color: #E185ED;
  text-align: right;
}
/* line 533, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_regtwitter .onoffswitch-switch {
  display: block;
  width: 14px;
  margin: 0px;
  background: #FFFFFF;
  border: 1px solid #999999;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 171px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
  background-image: -moz-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
  background-image: -webkit-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
  background-image: -o-linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
  background-image: linear-gradient(center top, rgba(0, 0, 0, 0.1) 0%, transparent 100%);
}
/* line 545, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_regtwitter .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
/* line 548, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_regtwitter .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

/* line 554, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_arbol {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: #eee;
}
/* line 560, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_arbol .encabezado {
  position: fixed;
  z-index: 1;
  /*position: relative;*/
  background-image: url("/assets/fondo_app.jpg");
  background-size: cover;
  min-height: 200px;
  height: 40%;
  max-height: 500px;
  min-width: 100%;
  max-width: 1024px;
  text-align: center;
  box-shadow: 0px 2px 5px #999;
}
/* line 577, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_arbol .encabezado a#volver_btn {
  background-color: white;
  border-radius: 100%;
  margin: 10px;
  float: left;
  color: white;
  height: 50px;
}
/* line 584, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_arbol .encabezado a#volver_btn img {
  width: 50px;
}
/* line 589, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_arbol .encabezado a#favoritos_btn {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0px 0px 5px 5px;
  padding: 20px 4px 4px 4px;
  margin: 0px 20px 0px 0px;
  float: right;
  color: white;
}
/* line 596, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_arbol .encabezado a#favoritos_btn img {
  width: 30px;
  height: 30px;
}
/* line 601, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_arbol .encabezado a#favoritos_btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 605, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_arbol .encabezado span {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}
/* line 611, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_arbol .encabezado span h1 {
  color: white;
  margin: 0;
  font: 30px normal 'PT_Sans';
}
/* line 619, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_arbol .contenido {
  position: absolute;
  top: 40%;
  background-color: white;
}
/* line 623, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_arbol .contenido table {
  margin: 3%;
}
/* line 625, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_arbol .contenido table tr {
  vertical-align: top;
}
/* line 627, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_arbol .contenido table tr td {
  font: 11px normal 'PT_Sans';
}
/* line 630, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_arbol .contenido table tr td#subtitulo {
  font: 15px normal 'PT_Sans';
}
/* line 633, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_arbol .contenido table tr td#texto {
  padding-top: 4px;
  border-bottom: 1px solid #eee;
}

/* line 643, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_favoritos {
  background-image: url("/assets/tree.png");
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 650, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_favoritos .encabezado {
  background-image: url("/assets/tweed.png");
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: white;
  text-align: center;
  box-shadow: 0px 2px 5px #999;
  z-index: 1;
}
/* line 660, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_favoritos .encabezado table tr {
  border-spacing: 0;
  width: 100%;
}
/* line 663, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_favoritos .encabezado table tr td#volver {
  border-right: 1px solid #91bf3b;
}
/* line 665, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_favoritos .encabezado table tr td#volver img {
  width: 30px;
  height: 30px;
}
/* line 670, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_favoritos .encabezado table tr td#titulo {
  font: 30px normal 'PT_Sans';
  color: gold;
}
/* line 677, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_favoritos .contenido {
  position: relative;
  top: 50px;
  background-color: white;
}
/* line 681, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_favoritos .contenido table {
  width: 100%;
}
/* line 683, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_favoritos .contenido table tr {
  height: 50px;
}
/* line 687, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_favoritos .contenido table tr td img {
  width: 30px;
  height: 30px;
}
/* line 691, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_favoritos .contenido table tr td a {
  text-decoration: none;
  color: #999;
}
/* line 696, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_favoritos .contenido table tr td#nombre {
  border-bottom: 1px solid #eee;
  font: 15px normal 'PT_Sans';
}

/* line 705, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_historial {
  background-image: url("/assets/tree.png");
  background-attachment: fixed;
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 712, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_historial .encabezado {
  background-image: url("/assets/tweed.png");
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: white;
  text-align: center;
  box-shadow: 0px 2px 5px #999;
  z-index: 1;
}
/* line 722, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_historial .encabezado table tr {
  border-spacing: 0;
  width: 100%;
}
/* line 725, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_historial .encabezado table tr td#volver {
  border-right: 1px solid #91bf3b;
}
/* line 727, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_historial .encabezado table tr td#volver img {
  width: 30px;
  height: 30px;
}
/* line 732, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_historial .encabezado table tr td#titulo {
  font: 30px normal 'PT_Sans';
  color: gold;
}
/* line 739, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_historial .contenido {
  position: relative;
  top: 50px;
  background-color: white;
}
/* line 743, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_historial .contenido table {
  width: 100%;
}
/* line 745, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_historial .contenido table tr {
  height: 50px;
}
/* line 749, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_historial .contenido table tr td img {
  width: 30px;
  height: 30px;
}
/* line 753, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_historial .contenido table tr td a {
  text-decoration: none;
  color: #999;
}
/* line 758, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_historial .contenido table tr td#nombre {
  border-bottom: 1px solid #eee;
  font: 15px normal 'PT_Sans';
}
/* line 761, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_historial .contenido table tr td#nombre p {
  margin: 0px 10px 0px 0px;
  float: right;
  font: 10px normal 'PT_Sans';
  color: #ccc;
}

/* line 773, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_perfil {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("/assets/tree.png");
}
/* line 778, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_perfil .encabezado {
  background-image: url("/assets/tweed.png");
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: white;
  text-align: center;
  box-shadow: 0px 2px 5px #999;
  z-index: 1;
}
/* line 788, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_perfil .encabezado table tr {
  border-spacing: 0;
  width: 100%;
}
/* line 791, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_perfil .encabezado table tr td#volver {
  border-right: 1px solid #91bf3b;
}
/* line 793, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_perfil .encabezado table tr td#volver img {
  width: 30px;
  height: 30px;
}
/* line 798, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_perfil .encabezado table tr td#titulo {
  font: 30px normal 'PT_Sans';
  color: gold;
}
/* line 805, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_perfil .contenido {
  position: relative;
  top: 50px;
  background-color: white;
}
/* line 809, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_perfil .contenido table {
  padding: 15px 10px 10px 10px;
  width: 100%;
}
/* line 813, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_perfil .contenido table tr td {
  font: 14px normal 'PT_Sans';
}
/* line 815, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_perfil .contenido table tr td h1 {
  font: 30px normal 'PT_Sans';
  margin: 0;
}
/* line 819, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_perfil .contenido table tr td img {
  width: 80px;
  border: 3px solid #999;
}
/* line 823, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_perfil .contenido table tr td img:hover {
  border: 3px solid gold;
}
/* line 829, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_perfil .contenido input {
  margin-top: 5px;
  width: 100%;
  height: 30px;
}
/* line 834, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
.fold_perfil .contenido .user {
  display: inherit;
}

/* line 845, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
#map-container {
  height: 400px;
  border-radius: 16px 16px;
  border-color: #fff;
  border-style: solid;
  box-shadow: 2px 2px 10px #B1B1B1;
  margin-top: 25px;
  border-width: 7px;
}

/* line 854, /Users/felipe/Desktop/ror/diegoz/app/assets/stylesheets/application.scss */
#map-canvas {
  height: 384px;
  width: 100%;
}
