<link rel="stylesheet" type="text/css" href="/assets/newyedit.css">
	<a id="volver" href="/">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Volver
	</a>


<div class="fold_new">

	<%= form_for :user, url: users_path do |f| %>

		<h1>Registro</h1>

		<% if @user && @user.errors.any? %>
			<div id="error_explanation">
				<h2>
					Existen <%=pluralize(@user.errors.count, "error", "errores")%> en el formulario.
				</h2>
				<ul class="list-group">
					<% @user.errors.full_messages.each do |msg| %>
						<li class="list-group-item list-group-item-danger" ><%= msg %></li>
					<% end %>
				</ul>	
			</div>
		<% end %>
		
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">
			<%=f.label :name, "Nombre"%> </span>
			<%=f.text_field :name, :class => "form-control" %>
		</div>

		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">
			<%=f.label :username, "Username" %> </span>
			<%=f.text_field :username, :class => "form-control" %>
		</div>

		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">
			<%=f.label :email, "Correo"%> </span>
			<%=f.text_field :email, :class => "form-control" %>
		</div>

		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">
			<%=f.label :password, "Contraseña"%> </span>
			<%=f.password_field :password, :class => "form-control", :id => "pass" %>
		</div>

		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">
			<%=f.label :password_c, "Confirmar"%> </span>
			<%=f.password_field :password_confirmation, :class => "form-control", :id => "pass_c" %>
		</div>

			<%= f.file_field 'image', :class => "input_image" %>
			<img src="" alt="" class="thumbnail">

		<div class="input-group">
  			<span class="input-group-addon">
  				<%= f.radio_button(:gender, "male")%>
  			</span>
  			<%= f.label :gender_male, "Hombre", :class => "form-control" %>
  		</div>

		<div class="input-group">
  			<span class="input-group-addon">
  				<%= f.radio_button(:gender, "female")%>
  			</span>
  			<%= f.label :gender_female, "Mujer", :class => "form-control" %>
  		</div>	

			<%=f.submit "Crear Usuario", :class => "btn btn-success", :id => "enviar" %>
	<% end %>



</div>

<% content_for :javascripts do %>
	<script type="text/javascript" src="/assets/imagen_carga.js" ></script>
<% end %>
