body{


	background-image: url("/assets/fondo_app.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.fold_ini {

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
            
	margin: 0 auto;
	padding: 0px;
	position: relative;
	text-align: center;
	width: 100%;
	height: 100%;
	min-height: 100%;
	min-width: 100%;

	.logo_b{
		text-align:center;
		border-radius: 10px;
		margin: 7px 0px 0px 0px;
		width: 120px;
		height: 120px;
	}

	h1{
		color: white;
		margin: 10px 0px 10px 0px;
	}

	.campos_login{
		max-width: 400px;
		margin: 0 auto;
		.input-group{
			margin: 5% 0px 5% 0px;
		}
	}
	

	.btn-success{
		margin: 1% 0px 20px 0px;
		width: 40%;
		max-width: 250px;
	}

	a#olvidaste_contrasena{
		margin: 5% 0px 5% 0px;
		color: rgba(white,.5);
	}
	.btn-primary{	
		margin: 5% 10% 2% 10%;
	}
	.btn-info{	
		margin: 2% 10% 2% 10%;
	}

	#reg{
		margin: 3% 0 0 0;
		color: white;
	}
	#registro{
		color: gold;
		font-size: 20px;
	}

	#names{
		color: #999;
		margin: 5% 0px 8px 0px;
		font-size: 10px;
	}

	ul{
		padding: 0;
		li{
			list-style: none;
		}
	}
}
