  html, body, #map-canvas {
    height: 100%;
    margin: 0 auto;
    padding: 0px;
  	z-index: 0;
  }

  #volver{
  	z-index: 10;
	direction: ltr;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: 50px;
    left: 10px;
    color: rgb(86, 86, 86);
    font-family: Roboto, Arial, sans-serif;
    -webkit-user-select: none;
    font-size: 11px;
    padding: 8px;
    border-radius: 2px;
    -webkit-background-clip: padding-box;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    min-width: 28px;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;

	.glyphicon-chevron-left{
		color: gray;
		margin: 0 auto;
	}
}

#thub_info{
	width: 100px;
}