
<link rel="stylesheet" type="text/css" href="/assets/map.css">


<a id="volver" href="<%= root_path %>">
	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Volver
</a>

<div id="map-canvas"></div>

<script type="text/javascript" src="/assets/map.js"></script>

<!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize"></script>
<script>

function initialize() {
}

</script>-->